<div class='logo'>
    <i class='material-icons small-screen-only' style='margin-left:8px;' onclick="document.getElementById('menu').menu.show()">menu</i>
    <div class='cursor'>
        <div class='logo-text'>
            <a href="/jspreadsheet/v4/" style="text-decoration:none;color:#777"><span>Jspreadsheet</span> <span style="color:#526e9a;">CE</span></a>
            <div class='logo-text-sub'><a href="/jspreadsheet/v4/" style="text-decoration:none;color:#777">THE JAVASCRIPT SPREADSHEET</a></div>
        </div>
    </div>
</div>
