<div class="section">
<div class="section-content">

<nav data-id="my-account">
    <h2>Resources</h2>
    
    <div>
    <h3>Tools</h3>
    <ul>
        <li><a href="https://jspreadsheet.com/cloud">Spreadsheet Cloud</a></li>
        <li><a href="https://jspreadsheet.com">Pro distribution</a></li>
        <li><a href="https://github.com/jspreadsheet/ce">CE repository</a></li>
        <li><a href="https://jsuites.net/">Jsuites</a></li>
        <li><a href="https://lemonadejs.net/">LemonadeJS</a></li>
    </ul>

    <h3>Extensions</h3>
    <ul>
        <li><a href="https://jspreadsheet.com/products/formulas">Formulas premium</a></li>
        <li><a href="https://jspreadsheet.com/products/forms">Forms</a></li>
        <li><a href="https://jspreadsheet.com/products/export-to-xlsx">XLSX render</a></li>
        <li><a href="https://jspreadsheet.com/products/import-from-xlsx">XLSX parser</a></li>
    </ul>
    </div>
</nav>

<nav data-id="learning-center" class="selected">
  <h2>Learning Center</h2>

  <div>
  <h3>Documentation</h3>
  <ul>
    <li><a href="/jspreadsheet/v4/docs/getting-started" title="The fundamental of Jspreadsheet">Getting started</a></li>
    <li><a href="/jspreadsheet/v4/docs/programmatically-changes" title="Control your table via javascript">Programmatically changes</a></li>
    <li><a href="/jspreadsheet/v4/docs/events" title="Control the interaction via callbacks">Handling events</a></li>
    <li><a href="/jspreadsheet/v4/docs/special-formulas" title="List of special formulas and helpers">Special formulas</a></li>
  </ul>

  <h3>Other references</h3>
  <ul>
    <li><a href="/jspreadsheet/v4/docs/quick-reference" title="List of all possible methods and events">Quick reference</a></li>
    <li><a href="/jspreadsheet/v4/docs/most-common-questions-and-answers" title="Most common implementation questions">Most common questions</a></li>
  </ul>
  </div>
</nav>

<nav data-id="real-life-applications">
  <h2>Real-life applications</h2>

  <div>
  <h3>Examples</h3>
  <ul>
    <li><a href="/jspreadsheet/v4/cases/themes" title="Jspreadsheet color theme editor">Color theme editor</a></li>
    <li><a href="/jspreadsheet/v4/cases/highcharts" title="Jspreadsheet and Highcharts">Integration with highcharts</a></li>
    <li><a href="/jspreadsheet/v4/cases/project-management" title="Project management">Project management</a></li>
    <li><a href="/jspreadsheet/v4/cases/food-store" title="Food store">Food store</a></li>
    <li><a href="/jspreadsheet/v4/cases/data-persistance" title="Data persistance">Data persistance</a></li>
  </ul>
  </div>
</nav>

<nav data-id="examples">
  <h2>Examples</h2>

  <div>
  <h3>Spreadsheet data</h3>
  <ul>
    <li><a href="/jspreadsheet/v4/examples/create-from-table" title="Create from a HTML table">Create from a HTML table</a></li>
    <li><a href="/jspreadsheet/v4/examples/import-data" title="Load data from CSV, JSON or XLSX">Importing data</a></li>
    <li><a href="/jspreadsheet/v4/examples/headers" title="Header updates &amp; column dragging">Headers</a></li>
    <li><a href="/jspreadsheet/v4/examples/nested-headers" title="Nested headers and headers update">Nested headers</a></li>
  </ul>

  <h3>Spreadsheet formulas</h3>
  <ul>
    <li><a href="/jspreadsheet/v4/examples/spreadsheet-formulas" title="Include formulas in your table">Formulas</a></li>
    <li><a href="/jspreadsheet/v4/examples/footers" title="Formulas on table footer">Formulas on table footer</a></li>
  </ul>

  <h3>Spreadsheet columns</h3>
  <ul>
    <li><a href="/jspreadsheet/v4/examples/column-types" title="Calendar, dropdown, image, text, hidden, etc.">Column types</a></li>
    <li><a href="/jspreadsheet/v4/examples/dropdown-and-autocomplete" title="Autocomplete, multiple and conditional">Advanced dropdown</a></li>
    <li><a href="/jspreadsheet/v4/examples/date-and-datetime-picker" title="Advanced calendar usage">Date and datetime picker</a></li>
    <li><a href="/jspreadsheet/v4/examples/image-upload" title="Embed images to your spreadsheet">Images</a></li>
    <li><a href="/jspreadsheet/v4/examples/richtext-html-editor" title="HTML Editor type">Richtext column</a></li>
  </ul>

  <h3>Spreadsheet cells</h3>
  <ul>
    <li><a href="/jspreadsheet/v4/examples/comments" title="Get or set cell comments">Cell comments</a></li>
    <li><a href="/jspreadsheet/v4/examples/meta-information" title="Using meta information">Meta information</a></li>
    <li><a href="/jspreadsheet/v4/examples/readonly" title="Readonly columns">Readonly</a></li>
  </ul>

  <h3>Spreadsheet integrations</h3>
  <ul>
    <li><a href="/jspreadsheet/v4/examples/spreadsheet-webcomponent" title="Spreadsheet as a webcomponent">Webcomponent</a></li>
    <li><a href="/jspreadsheet/v4/examples/react" title="Using Jspreadsheet with React">React Implementation</a></li>
    <li><a href="/jspreadsheet/v4/examples/vue" title="Using Jspreadsheet with Vue">VUE Implementation</a></li>
    <li><a href="/jspreadsheet/v4/examples/angular" title="Using Jspreadsheet with Angular">Angular Implementation</a></li>
    <li><a href="/jspreadsheet/v4/examples/jquery" title="Using Jspreadsheet with Jquery">Jquery Implementation</a></li>
  </ul>

  <h3>Spreadsheet features</h3>
  <ul>
    <li><a href="/jspreadsheet/v4/examples/spreadsheet-toolbars" title="Enable and customize the toolbars">Custom toolbars</a></li>
    <li><a href="/jspreadsheet/v4/examples/tabs" title="Using tabs">Using tabs</a></li>
    <li><a href="/jspreadsheet/v4/examples/datatables" title="Search and pagination like datatables">Search and pagination</a></li>
    <li><a href="/jspreadsheet/v4/examples/column-filters" title="Column filters">Column filters</a></li>
    <li><a href="/jspreadsheet/v4/examples/freeze-columns" title="Freeze columns">Freeze columns</a></li>
    <li><a href="/jspreadsheet/v4/examples/merged-cells" title="How to merge cells">Merged cells</a></li>
    <li><a href="/jspreadsheet/v4/examples/column-dragging" title="Column dragging">Column dragging</a></li>
    <li><a href="/jspreadsheet/v4/examples/sorting" title="Sorting the spreadsheet columns">Sorting columns</a></li>
    <li><a href="/jspreadsheet/v4/examples/contextmenu" title="Custom contextmenu">Custom Contextmenu</a></li>
    <li><a href="/jspreadsheet/v4/examples/lazy-loading" title="Dealing with big spreadsheets">Lazy loading</a></li>
    <li><a href="/jspreadsheet/v4/examples/table-overflow" title="Table overflow">Table overflow</a></li>
    <li><a href="/jspreadsheet/v4/examples/translations" title="Internationalization">Translations</a></li>
  </ul>

  <h3>Spreadsheet features</h3>
  <ul>
    <li><a href="/jspreadsheet/v4/examples/programmatically-updates" title="Update your table programmatically">Programmatically updates</a></li>
    <li><a href="/jspreadsheet/v4/examples/table-style" title="Default CSS and programmatically style">Table Style</a></li>
    <li><a href="/jspreadsheet/v4/examples/table-scripting" title="Customize the table using javascript">Table Scripting</a></li>
    <li><a href="/jspreadsheet/v4/examples/events" title="Control the interaction via callbacks">Events</a></li>
  </ul>
  </div>
</nav>

<i class='material-icons small-screen-only close' onclick="menu()">close</i>


</div>
</div>