<div class="section">
<div class="section-content">

<h1>Sponsors</h1>

<p>The most recent sponsors</p>

<table cellpadding="10" style="cursor:pointer">
<tr onclick="window.open('https://www.fdl-lef.org/', '_blank')">
    <td><img src="https://www.fdl-lef.org/FDL-Logo.Colorised.Forest?format=png" style="width:100px"></td>
    <td><b>FDL - Fonds de Dotation du Libre - Libre Endowment Fund</b><br>FDL - Libre Endowment Fund - is a French endowment fund which aims to support the developers and publishers of Free and Open Source software projects. FDL can receive tax-deductible donations from which it can fund specific feature developments for software that is deemed to be of general interest. FDL operates in synergy with its sister non-profit organisation named "AWL" (Action pour un Web Libre). FDL sponsors long-term projects whereas AWL sponsors short-term projects. FDL and AWL maintain a repository of Free and Open Source software publishers: https://afs.one. More information on FDL and AWL can be found on the www.fdl-lef.org.</td>
</tr>
<tr onclick="window.open('https://hodel.co.uk/', '_blank')">
    <td></td>
    <td><b>Hodel Technology Ltd</b></td>
</tr>
<tr onclick="window.open('https://id.ethz.ch/', '_blank')">
    <td></td>
    <td><b>ETH Scientific IT Services</b></td>
</tr>
<tr onclick="window.open('https://initiativetree.com', '_blank')">
    <td></td>
    <td><b>Initiative Tree</b></td>
</tr>
<tr onclick="window.open('https://market-control.com', '_blank')">
    <td></td>
    <td><b>Market Control</b></td>
</tr>
</table>

</div>
</div>