<div><ul>
    <li title="Documentation"><a href="/jspreadsheet/v4/docs"><i class='material-icons'>fingerprint</i>Docs</a></li>
    <li title="Examples"><a href="/jspreadsheet/v4/examples"><i class='material-icons'>store</i>Examples</a></li>
    <li title="Sponsors"><a href="/jspreadsheet/v4/sponsors"><i class='material-icons'>accessibility</i>Sponsors</a></li>
    <li title="Contact"><a href="/jspreadsheet/v4/contact"><i class='material-icons'>alternate_email</i>Contact</a></li>
    </ul>
</div>

