<div class="section">
<div class="section-content">

<div class='breadcrumb'><a href='/jspreadsheet/v4/examples' title='Back to the examples section'>Back to Examples</a></div>

<h1>Table footer</h1>

<p>Adding fixed custom calculations in the footer of an online spreadsheet.</p>

<div id="spreadsheet"></div>

<br><br>

<h3>Source code</h3>

<pre class="prettyprint linenums">
&#60;html>
&#60;script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js">&#60;/script>
&#60;script src="https://jsuites.net/v4/jsuites.js">&#60;/script>
&#60;link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
&#60;link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />

&#60;div id="spreadsheet">&#60;/div>

&#60;script>
var data = [
    ['Cheese', 10, 6.00, "=B1*C1"],
    ['Apples', 5, 4.00, "=B2*C2"],
    ['Carrots', 5, 1.00, "=B3*C3"],
    ['Oranges', 6, 2.00, "=B4*C4"],
];

// A custom method to SUM all the cells in the current column

var SUMCOL = function(instance, columnId) {
    var total = 0;
    for (var j = 0; j < instance.options.data.length; j++) {
        if (Number(instance.records[j][columnId-1].innerHTML)) {
            total += Number(instance.records[j][columnId-1].innerHTML);
        }
    }
    return total;
}

var table = jspreadsheet(document.getElementById('spreadsheet'), {
    data:data,
    minDimensions: [4,10],
    columnDrag:true,
    footers: [['Total','=SUMCOL(TABLE(), COLUMN())','=SUMCOL(TABLE(), COLUMN())','=SUMCOL(TABLE(), COLUMN())']],
    columns: [{
        width:'200px',
    }]
});
&#60;/script>
&#60;/html>
</pre>


<script>
var table = null;

var data = [
    ['Cheese', 10, 6.00, "=B1*C1"],
    ['Apples', 5, 4.00, "=B2*C2"],
    ['Carrots', 5, 1.00, "=B3*C3"],
    ['Oranges', 6, 2.00, "=B4*C4"],
];

var SUMCOL = function(instance, columnId) {
    var total = 0;
    for (var j = 0; j < instance.options.data.length; j++) {
        if (Number(instance.records[j][columnId-1].innerHTML)) {
            total += Number(instance.records[j][columnId-1].innerHTML);
        }
    }
    return total;
}

document.addEventListener('DOMContentLoaded', function() {
    table = jspreadsheet(document.getElementById('spreadsheet'), {
        data:data,
        minDimensions: [4,10],
        columnDrag:true,
        footers: [['Total','=SUMCOL(TABLE(), COLUMN())','=SUMCOL(TABLE(), COLUMN())','=SUMCOL(TABLE(), COLUMN())']],
        columns: [{
            width:'200px',
        }]
    });
});
</script>

<br><br>


</div>
</div>