<div class="section">
<div class="section-content">

<div class='breadcrumb'><a href='/jspreadsheet/v4/examples' alt='Back to the examples'>Back to Examples</a></div>

<h1>Lazy loading</h1>

<p>The following table is dealing with 60.000 columns. The lazyloading method allows render up to 130 rows at the same time and will render other rows based on the scrolling.</p>


<div id="spreadsheet"></div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    test = jspreadsheet(document.getElementById('spreadsheet'), {
        csv:'/jspreadsheet/demo1.csv',
        csvHeaders:false,
        tableOverflow:true,
        lazyLoading:true,
        columns: [
            { type:'text', width:200, title:'Name' },
            { type:'dropdown', width:100, title:'Age', source:[{id:1,name:'Male'},{id:2,name:'Female'}] },
            { type:'text', width:200, title:'City' },
        ]
    });
});
</script>

<br><br>

<h3>Source code</h3>

<pre class="prettyprint linenums">
&#60;html>
&#60;script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js">&#60;/script>
&#60;link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
&#60;script src="https://jsuites.net/v4/jsuites.js">&#60;/script>
&#60;link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />

&#60;div id="spreadsheet">&#60;/div>

&#60;script>
jspreadsheet(document.getElementById('spreadsheet'), {
    csv:'https://bossanova.uk/jspreadsheet/demo1.csv',
    csvHeaders:false,
    tableOverflow:true,
    lazyLoading:true,
    loadingSpin:true,
    columns: [
        {
            type:'text',
            width:200,
            title:'Name'
        },
        {
            type:'dropdown',
            width:100,
            title:'Age',
            source:[
            {
                id:1,name:'Male'
            },
            {
                id:2,
                name:'Female'
            }]
        },
        {
            type:'text',
            width:200,
            title:'City'
        },
     ]
});
&#60;script>

&#60;/script>
&#60;/html>
</pre>



</div>
</div>