<div class="section">
<div class="section-content">

<div class='breadcrumb'><a href='/jspreadsheet/v4/cases' title='Back to the use cases section'>Back to Cases</a></div>

<h1>Project management spreadsheet</h1>

<p>A simple example including table scripting to perform a photo update and a progress bar added to any new task.</p>

<div id="spreadsheet"></div>

<p><input type='button' value='  Add new task  ' onclick="mySpreadsheet.insertRow()"></p>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var data1 = [
        [ '=B1', '1', 'New products section', '2019-02-12', '80' ],
        [ '=B2', '1', 'API integration', '2019-03-01', '100' ],
        [ '=B3', '7359', 'Deck', '2018-11-10', '30' ],
        [ '=B4', '1', 'Prototype', '2019-01-12', '0' ],
    ];

    mySpreadsheet = jspreadsheet(document.getElementById('spreadsheet'), {
        data:data1,
        columns: [
            { type: 'text', width: '60px', title: 'Photo', readOnly:true },
            { type: 'dropdown', width: '140px', title: 'Name', source: [ { id:'1', name: 'Paulo'}, { id:'7359', name: 'Cosme Sergio' }] },
            { type: 'text', width: '200px', title: 'Task' },
            { type: 'calendar', width: '100px', title: 'When' },
            { type: 'number', width: '50px', title: '%' },
            { type: 'text', width: '200px', title: 'Progress', stripHTML: false },
         ],
         allowComments:true,
         updateTable: function(instance, cell, col, row, val, label, cellName) {
             if (col == 0) {
                 if (instance.jexcel.options.data[row][col+1]) {
                     cell.innerHTML = '<img src="/templates/default/img/' + instance.jexcel.options.data[row][col+1] + '.jpg" style="width:16px;border-radius:16px">';
                 } else {
                     cell.innerHTML = '<img src="/templates/default/img/nophoto.jpg" style="width:16px;border-radius:16px">';
                 }
             }
             
             if (col == 5 && ! val) {
                 instance.jexcel.setValue('F'+(row+1), '=PROGRESS(E' + (row + 1) + ', "darkgreen")');
             }
         }
    });
});

</script>

<br><br>

<h3>Source code</h3>

<pre class="prettyprint linenums">
&#60;html>
&#60;script src="https://bossanova.uk/jspreadsheet/v4/jexcel.js">&#60;/script>
&#60;script src="https://jsuites.net/v4/jsuites.js">&#60;/script>
&#60;link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jexcel.css" type="text/css" />
&#60;link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />

&#60;div id="spreadsheet">&#60;/div>

&#60;script>
var data1 = [
    [ '=B1', '1', 'New products section', '2019-02-12', '80', '=PROGRESS(E1, "darkgreen")' ],
    [ '=B2', '1', 'API integration', '2019-03-01', '100', '=PROGRESS(E2, "darkgreen")' ],
    [ '=B3', '7359', 'Deck', '2018-11-10', '30', '=PROGRESS(E3, "darkgreen")' ],
    [ '=B4', '1', 'Prototype', '2019-01-12', '0', '=PROGRESS(E4, "darkgreen")' ],
];

var mySpreadsheet = jspreadsheet(document.getElementById('spreadsheet'), {
    data:data1,
    columns: [
        { type: 'text', width: '60px', title: 'Photo', readOnly:true },
        { type: 'dropdown', width: '140px', title: 'Name', source: [ { id:'1', name: 'Paul o}, { id:'7359', name: 'Cosme Sergio' }] },
        { type: 'text', width: '200px', title: 'Task' },
        { type: 'calendar', width: '100px', title: 'When' },
        { type: 'text', width: '50px', title: '%' },
        { type: 'text', width: '200px', title: 'Progress', stripHTML: false },
    ],
    allowComments:true,
    updateTable: function(instance, cell, col, row, val, label, cellName) {
        if (col == 0) {
            if (instance.jexcel.options.data[row][col+1]) {
                cell.innerHTML = '&#60;img src="/templates/default/img/' + instance.jexcel.options.data[row][col+1] + '.jpg" style="width:16px;border-radius:16px">';
            } else {
                cell.innerHTML = '&#60;img src="/templates/default/img/nophoto.jpg" style="width:16px;border-radius:16px">';
            }
        }

        if (col == 5 && ! val) {
            instance.jexcel.setValue('F'+(row+1), '=PROGRESS(E' + (row + 1) + ', "darkgreen")');
        }
    }
});
&#60;/script>
&#60;/html>
</pre>

</div>
</div>